#form-button-next:focus {
  --bs-btn-active-color: #49a078;
  --bs-btn-active-bg: #eeeee9;
  --bs-btn-focus-shadow-rgb: #fff;
  --bs-btn-hover-bg: #eeeee9;
  color: #49a078;
}

#form-button-next:hover {
  --bs-btn-hover-bg: #49a078;
  color: #000;
}

#form-button-previous:focus {
  --bs-btn-active-bg: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-color: #6c757d;
  --bs-btn-hover-color: #6c757d;
}

#form-button-previous:hover {
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-color: #fff;
}

#form-button-submit:focus {
  --bs-btn-active-bg: #198754;
  --bs-btn-hover-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-border-color: #198754;
}

#form-button-submit:hover {
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #157347;
}

#forms-bg-color {
  background-color: #fff;
}
.modal-bg-color,
#modal-bg-color {
  background-color: #eeeee9;
}
